<!DOCTYPE html>
<html ng-app="generatorVideoApp">

<head>
    <meta charset="utf-8" />
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
</head>

<body ng-controller="VignetteController">
<div class="col-md-3 col-sm-4 col-xs-6"
     ng-repeat="image in imageURLs">
    <img src={{image}}
         ng-click="selected_images[image] = {selected: !selected_images[image].selected }"
         class="img-responsive"
         ng-class="{ 'selected-image': selected_images[image].selected }"
         style="max-height: 120px;" alt="" title="">
</div>
<pre>{{selected_images | json}}</pre>
</body>

</html>
