

<div>

    <p>Choix : Alternatif et Optionnel</p>
    <ul>
<li style="list-style-type: none;" ng-repeat="vignette in vignettes">
    <div ng-if="vignette.name && vignette.type=='OPTIONNAL'">
    <img src="http://localhost:8080/resources/{{vignette.name}}"
         class="img-responsive"
         ng-click="selectItem(vignette);"

         ng-class="{'fa fa-check':isSelected(vignette)}"
         style="width:150px; height: 120px;margin:auto;" alt="" title="">
    </div>
    <div ng-if="vignette.name && vignette.type=='MANDATORY'">
        <img src="http://localhost:8080/resources/{{vignette.name}}"
             class="img-responsive"
             style="width:150px; height: 120px;margin:auto;" alt="" title="">
    </div>
    <div ng-if="vignette.videos" style="text-align: center;">
        <div style="display: inline-block" ng-repeat="altern in vignette.videos">
            <img src="http://localhost:8080/resources/{{altern.name}}"
                 ng-click="selectItemAltern(vignette.videos,altern)"
                 ng-class="{'fa fa-check':isSelectedAltern(altern)}"
                 style="width:150px; height: 120px;margin:auto;" alt="" title="">
        </div>
    </div>

</li>
    </ul>
<pre>Vos choix : {{my_items | json}}</pre>


    <button ng-click="generateSelectedVideo()">Générer une video</button>
    <div id="content" class="flowplayer">
        <a id="PLAYERID"></a>
    </div>

</div>


