

<div ng-controller="VignetteController">

    <p>TOTTO</p>
    <ul>
<li ng-repeat="vignette in vignettes">
    <img src="http://localhost:8080/resources/{{vignette.name}}"
         class="img-responsive"
         ng-click="selectItem(vignette);"

         ng-class="{'fa fa-check':isSelected(vignette)}"
         style="max-height: 120px;" alt="" title="">

    <div ng-if="vignette.videos">
        <div ng-repeat="altern in vignette.videos">
            <img src="http://localhost:8080/resources/{{altern.name}}"
                 ng-click="selectItem(altern)"
                 ng-class="{'fa fa-check':isSelected(altern)}"
                 style="max-height: 120px;" alt="" title="">
        </div>


    </div>

</li>
    </ul>
<pre>{{selected_images | json}}</pre>


    <button ng-click="generateSelectedVideo()">Générer une video</button>
    <div id="content" class="flowplayer">
        <a id="PLAYERID"></a>
    </div>

</div>


